
  main {
      display: flex;
      height: 75%;
  }

  html, body {
    height:100%;
    background-color: #221e1e;
  }
  
  header, .circle-text{
      text-align: center;
      color:lightcyan;
      font-weight: bold;
  }


  .circle-with-text {
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 15%;
    height: 35%;
    margin:auto;
    display: flex;
    flex-direction: column;
    background: #34b382;
  }
