
  main {
      display: flex;
      height: 75%;
      
  }

  html, body {
    height:100%;
    background-color: #221e1e;
  }
  
  header, .circle-text{
      text-align: center;
      color:lightcyan;
      font-weight: bold;
      font-size: 1vw;
  }


  .circle-with-text {
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 15%;
    height: 35%;
    margin:auto;
    display: flex;
    flex-direction: column;
    background: #34b382;
  }

  @media screen and (max-width: 600px){
    .circle-with-text{
      width: 20%;
      height: 25%;
    }
    .circle-text{
      font-size: 1.5vw
    }
  }